In [1]:
import pandas as pd

In [9]:
sales_df = pd.read_csv('data/sales_data.csv')
customer_df = pd.read_csv('data/customer_data.csv')

print(sales_df.head())
print(customer_df.head())

  invoice_no customer_id  category  quantity    price invoice_date  \
0    I138884     C241288  Clothing         5  1500.40   05-08-2022
1    I317333     C111565     Shoes         3  1800.51   12-12-2021
2    I127801     C266599  Clothing         1   300.08   09-11-2021
3    I173702     C988172     Shoes         5  3000.85   16-05-2021
4    I337046     C189076     Books         4    60.60   24-10-2021

    shopping_mall
0          Kanyon
1  Forum Istanbul
2       Metrocity
3    Metropol AVM
4          Kanyon
  customer_id  gender   age payment_method
0     C241288  Female  28.0    Credit Card
1     C111565    Male  21.0     Debit Card
2     C266599    Male  20.0           Cash
3     C988172  Female  66.0    Credit Card
4     C189076  Female  53.0           Cash

In [12]:
# Merge on 'Customer id'
df = pd.merge(sales_df, customer_df, on='customer_id')
print(df.head())

  invoice_no customer_id  category  quantity    price invoice_date  \
0    I138884     C241288  Clothing         5  1500.40   05-08-2022
1    I317333     C111565     Shoes         3  1800.51   12-12-2021
2    I127801     C266599  Clothing         1   300.08   09-11-2021
3    I173702     C988172     Shoes         5  3000.85   16-05-2021
4    I337046     C189076     Books         4    60.60   24-10-2021

    shopping_mall  gender   age payment_method
0          Kanyon  Female  28.0    Credit Card
1  Forum Istanbul    Male  21.0     Debit Card
2       Metrocity    Male  20.0           Cash
3    Metropol AVM  Female  66.0    Credit Card
4          Kanyon  Female  53.0           Cash

In [13]:
print(df.isnull().sum())

invoice_no          0
customer_id         0
category            0
quantity            0
price               0
invoice_date        0
shopping_mall       0
gender              0
age               119
payment_method      0
dtype: int64

In [14]:
df = df.dropna()

In [15]:
print(df.isnull().sum())

invoice_no        0
customer_id       0
category          0
quantity          0
price             0
invoice_date      0
shopping_mall     0
gender            0
age               0
payment_method    0
dtype: int64

  invoice_no customer_id  category  quantity    price invoice_date  \
0    I138884     C241288  Clothing         5  1500.40   05-08-2022
1    I317333     C111565     Shoes         3  1800.51   12-12-2021
2    I127801     C266599  Clothing         1   300.08   09-11-2021
3    I173702     C988172     Shoes         5  3000.85   16-05-2021
4    I337046     C189076     Books         4    60.60   24-10-2021

    shopping_mall  gender   age payment_method
0          Kanyon  Female  28.0    Credit Card
1  Forum Istanbul    Male  21.0     Debit Card
2       Metrocity    Male  20.0           Cash
3    Metropol AVM  Female  66.0    Credit Card
4          Kanyon  Female  53.0           Cash

In [20]:
df['invoice_date'] = pd.to_datetime(df['invoice_date'], format='%d-%m-%Y')

In [22]:
df['Total'] = df['quantity'] * df['price']

In [23]:
print(df.head())

  invoice_no customer_id  category  quantity    price invoice_date  \
0    I138884     C241288  Clothing         5  1500.40   2022-08-05
1    I317333     C111565     Shoes         3  1800.51   2021-12-12
2    I127801     C266599  Clothing         1   300.08   2021-11-09
3    I173702     C988172     Shoes         5  3000.85   2021-05-16
4    I337046     C189076     Books         4    60.60   2021-10-24

    shopping_mall  gender   age payment_method     Total
0          Kanyon  Female  28.0    Credit Card   7502.00
1  Forum Istanbul    Male  21.0     Debit Card   5401.53
2       Metrocity    Male  20.0           Cash    300.08
3    Metropol AVM  Female  66.0    Credit Card  15004.25
4          Kanyon  Female  53.0           Cash    242.40

In [24]:
df.to_csv('cleaned_data.csv', index=False)